body{
    background-color: black;
    color: white;
}

h1{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

header{
		background-repeat: no-repeat;
		background-image: url('images/earth.jpg');
		background-size: cover;
		background-position: initial;
		height: 100vh
}