header{
		background-repeat: no-repeat;
		background-image: url(images/1541789697177-DonutEarth.jpg);
		background-size: cover;
		background-position: initial;
		height: 90vh;
		font-weight: 400;
		color: white;
		align-self: center;
}

.next_launch_date_utc{
	font-size: 5rem;
}

main{
	color: white;
	background-image: url(images/c47.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: initial;
	height: 95vh;
	width: 98vw;
}

.container{
	background-color: rgb(0, 0, 0, 0.7)
}
