#bigcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#mediumcontainer{
  display: flex;
  flex-direction: column;
}

#animegirl{
  height: 200px;
}

