.container{
    display:grid ;

    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
        "grid-item grid-item grid-item"
        "grid-item grid-item grid-item"
        "grid-item grid-item grid-item";

}
.grid-item{
    border: 10px solid white;
    background: blanchedalmond;
    font-size: 30px;
    text-align: center;
}